.flex-container {
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
.flex-container > div {
  background-color: #f1f1f1;
  border: 1px solid #000;
  flex-basis: 0; /* all space distributed// if not 0 the in the auto only extra space distributed */
}
.header {
  font-family: "Times New Roman";
  text-align: center;
}
img {
  border: none;
}
.categories {
  display: flex;
  border: none;
  color: grey;
  text-align: left;
  background-color: unset;
  flex-direction: column;
}
.categories div:nth-child(1) {
  background-color: rgb(236, 226, 128);
}
.categories div:nth-child(2) {
  background-color: paleturquoise;
}
.categories div:nth-child(3) {
  background-color: rgb(172, 241, 221);
}
.categories div:nth-child(4) {
  background-color: rgb(170, 182, 238);
}
.categories div:nth-child(5) {
  background-color: rgb(154, 152, 251);
}

h1 {
  color: red;
}
